<div class="card mb-1">
    <div class="card-header">
        <div class="float-start">
            <a href="{{ url }}">{{ node.exemplar.title }}</a>
            <small class="text-muted"
                data-bs-toggle="collapse"
                data-bs-target="#children-of-{{ node.name }}"
                aria-expanded="true"
                aria-controls="children-of-{{ node.name }}"
            >
                {{ node.exemplar.culprit|default_if_none:"" }}
            </small>
        </div>
        <div class="float-end text-muted">
            <span title="events in this node">
                📎 {{ node.item_count }}
            </span>
            /
            <span title="events in subtree">
                📁 {{ node.total_item_count }}
            </span>
        </div>
    </div>
        {% if node.exemplar.subtitle or node_diff %}
            <div class="card-body">
                <p>{{ node.exemplar.subtitle }}</p>

                <small>
                    {% for delta in node_diff %}
                        <pre
                            class="border bg-light mb-1 text-{% if delta|first == '+' %}success{%else%}danger{%endif%}"
                        >{{ delta }}</pre>
                    {% endfor %}
                </small>
        {% endif %}
        </div>
</div>
{% if node.children %}
    <div id="children-of-{{ node.name }}" class="collapse show ms-5 mb-3">
        {% for node, url, node_diff, children in children %}
            {% include 'group-box.html' %}
        {% endfor %}
    </div>
{% endif %}