{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ home }}index.html">Home</a>
            </li>
            {% for prefix, name in ancestors %}
                <li class="breadcrumb-item">
                    <a href="{{ prefix }}index.html">{{ name }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ title }}
            </li>
        </ol>
    </nav>

    <h1>{{ title }}</h1>

    {% if subtitle %}<p>{{ subtitle }}</p>{% endif %}

    {% if hash %}<p class="text-muted">Hash: {{ hash }}</p>{% endif %}

    {% if node.exemplar %}
        <div class="btn-group btn-group-sm" role="group">
            {% with modal_name='Crash Report' modal_id='crash_report' modal_data=node.exemplar.crash_report %}
                {% include 'modal.html' %}
            {% endwith %}

            {% with modal_name='Variants' modal_id='dump_variants' modal_data=node.exemplar.dump_variants %}
                {% include 'modal.html' %}
            {% endwith %}
            <a href="{{ events_base_url }}/{{ node.exemplar.json_url }}" class="btn btn-outline-primary">Event Payload</a>
        </div>
    {% endif %}

    {% if descendants %}
        <h2 class="mt-5">Issue Tree</h2>
        <div>
            <svg id="tree-chart"></svg>
        </div>

        <h2 class="mt-5">Issues</h2>
        <div class="text-end" style="line-height: 3rem;">
            <a href="#" id="collapse-all">Expand / collapse all</a>
        </div>
        <div>
            {% for node, url, node_diff, children in descendants %}
                {% include 'group-box.html' %}
            {% endfor %}
        </div>

        </ul>
    {% endif %}

    {% if node.items %}
        <h2 class="mt-5">Events ({{ node.items|length }})</h2>
        <ul class="list-group event-list">
            {% for event in node.items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span>
                        <a href="{{ events_base_url }}/{{ event.json_url }}" class="font-monospace">
                            {{ event.event_id }}</a>:
                        <span class="text-muted">{{ event.title }}{% if event.subtitle %}:
                            {{ event.subtitle }}{% endif %}</span>

                    </span>
                    <span class="event-tools">
                        <a href="{{ home }}/event_data/{{ event.data_path }}/dump_variants.txt"
                           class="" title="Variants"><i class="bi-card-text"></i></a>

                        <a href="#" class="compare-events" title="Compare"><i class="bi-file-diff"></i></a>
                    </span>

                </li>
            {% endfor %}
        </ul>
    {% endif %}
        </div>

<script>
    {% include "group-node.js"  %}{# Abusing template include for js #}
</script>

{% endblock %}
