{% extends 'base.html' %}

{% block title %}{{ node.exemplar.title }}{% endblock %}

{% block body %}

    <div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ home }}index.html">Home</a>
            </li>
            {% for prefix, ancestor in ancestors %}
                <li class="breadcrumb-item">
                    <a href="{{ prefix }}index.html">{{ ancestor.exemplar.title }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ node.exemplar.title }}
            </li>
        </ol>
    </nav>

    <h1>{{ node.exemplar.title }}</h1>

    <p>{{ node.exemplar.subtitle }}</p>

    {% if descendants %}
        <h2>Issue Tree</h2>

        {% for indent, url, node in descendants %}
            <div class="row gap-3">
                <div class="col-{{ indent }}"></div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <a href="{{ url }}">{{ node.exemplar.title }}</a>
                            <span class="text-muted">
                                {{ node.exemplar.location|default_if_none:"" }}
                            </span>
                        </div>
                        <div class="card-body">
                            {{ node.exemplar.subtitle }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        </ul>
    {% endif %}

    {% if node.items %}
        <h2>Events</h2>
        <ul>
            {% for event in node.items %}
                <li>
                    <a href="{{ event.json_url }}">
                        {{ event.title }}: {{ event.subtitle }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
        </div>
{% endblock %}
