{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ home }}index.html">Home</a>
            </li>
            {% for prefix, name in ancestors %}
                <li class="breadcrumb-item">
                    <a href="{{ prefix }}index.html">{{ name }}</a>
                </li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">
                {{ title }}
            </li>
        </ol>
    </nav>

    <h1>{{ title }}</h1>

    {% if subtitle %}<p>{{ subtitle }}</p>{% endif %}

    {% if hash %}<p class="text-muted">Hash: {{ hash }}</p>{% endif %}

    {% if descendants %}
        <h2 class="mt-3">Issue Tree</h2>
        {% for indent, url, node in descendants %}
            <div class="card {% if indent %}mt-1{% else %}mt-3{% endif %}"
                style="margin-left: {{ indent }}rem!important">
                <div class="card-header">
                    <div class="float-start">
                        <a href="{{ url }}">{{ node.exemplar.title }}</a>
                        <span class="text-muted">
                            {{ node.exemplar.culprit|default_if_none:"" }}
                        </span>
                    </div>
                    <div class="float-end text-muted">
                        <span title="events in this node">
                            📎 {{ node.item_count }}
                        </span>
                        /
                        <span title="events in subtree">
                            📁 {{ node.total_item_count }}
                        </span>
                    </div>
                </div>
                {% if node.exemplar.subtitle %}
                    <div class="card-body">
                        {{ node.exemplar.subtitle }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        </ul>
    {% endif %}

    {% if node.items %}
        <h2 class="mt-3">Events ({{ node.items|length }})</h2>
        <ul class="list-group">
            {% for event in node.items %}
                <li class="list-group-item">
                    <a href="{{ events_base_url }}/{{ event.json_url }}" class="font-monospace">
                        {{ event.event_id }}</a>:

                    <span class="text-muted">{{ event.title }}{% if event.subtitle %}:
                        {{ event.subtitle }}{% endif %}</span>

                </li>
            {% endfor %}
        </ul>
    {% endif %}
        </div>
{% endblock %}
