{% extends 'base.html' %}

{% block title %}{{ node.name }}{% endblock %}

{% block body %}
    <h1>{{ node.name }}</h1>

    <a href="../index.html">⇧ Up</a>

    {% if children %}
        <h2>Children</h2>
        <ul>
            {% for child in children %}
                <li>
                    <a href="{{ child.name }}/index.html">{{ child.name }}</a>
                </li>
            {% endfor %}

        </ul>
    {% endif %}

    {% if node.items %}
        <h2>Events</h2>
        <ul>
            {% for event in node.items %}
                <li>
                    {{ event.metadata.title }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
